<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title QCMLive
    link(rel="stylesheet" href="/css/style.css")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/socket.js")
    script(src="/javascripts/index.js")
  body(class="d-flex flex-column")
    div(class="container-fluid flex-fill d-flex mb-2")
      button(class="create-button p-2") Create
    div(class="container-fluid flex-fill d-flex mb-2")
      button(class="join-button p-2") Join
